
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

$firstcolor: #E1C174;
$whitecolor: #fff;
$wwcolor: #F2F2F2;
$blackcolor: #1A1A1A;
body,html{
    margin:0;
    padding:0;
    height:100%;
  }
  a:hover,a:focus, input:focus{
    text-decoration: none;
    outline: none;
  }


  @import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .logo{
    position: absolute;
    z-index: 9999;
    padding-top: 25px;
    padding-left: 30px;
  }


  label {
  	h1 {
  	  position: absolute;
  	  top: 50%;
  	  left: 50%;
  	  transform: translate(-50%,-50%);
  	  width: 80%;
  	  text-align: center;
  	}
    display: inline;
    .menu {
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 100;
      width: 100px;
      height: 100px;
      background: transparent;
      border-radius:50%;
      -webkit-transition: all .5s ease;
         -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
           -o-transition: all .5s ease;
              transition: all .5s ease;
      cursor: pointer;
    }
    .hamburger {
      position: absolute;
      top: 35px;
      left: 35px;
      width: 30px;
      height: 2px;
      background: #fff;
      display: block;
      transform-origin: center;
      transition: .5s ease-in-out;
      &:after{
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #fff;
      }
      // &:before {
      //   top: -10px;
      // } 
      &:after {
        bottom: -10px;
        width: 50%;
        right: 0;
      }
    }
    input {
      display: none;
    }

    input:checked + .menu{
      position: fixed;
      border-radius: 0px;
      box-shadow: 0 0 0 100vw rgba(16,16,16,0.9);
      height: 100vh;
      background: rgba(16,16,16,0.9);
      .hamburger {
        background: $whitecolor;
        transform: rotate(45deg);
       
        &:after {
          transform: rotate(90deg);
          bottom: 0;
          width: 100%;
          background: $whitecolor;
        }

        
        // &:before {
        //   transform: rotate(90deg);
        //   top: 0;
        //   background: #000;
        // }
      }
    }
    
    input:checked + .menu + ul {
      opacity: 1;
      visibility: visible;
      margin: 0;
      margin-right: 300px;
    }
    
    ul {
      visibility: hidden;
      z-index: 200;
      position: fixed;
      top: 50%;
      right: 0;
      margin-top: -50px;
      text-align: left;
      margin-right: 250px;
      transform: translate(-50%,-50%);
      opacity: 0;
      transition: .25s 0s ease-in-out;
      list-style-type: none;
      a {
        font-family: 'Lato', sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        font-size: 30px;
        color: $whitecolor;

        display: block;
        text-decoration: none;
        margin-bottom: 5px;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
      }
      span{
        font-family: 'Lato', sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        font-size: 30px;
        color: $whitecolor;

        display: block;
        text-decoration: none;
      }
      .crtica{
        width: 250px;
        height: 4px;
        background: $firstcolor;
        margin-bottom: 20px;
        margin-top: 15px;
      }
      a:hover{
        color: $firstcolor;
      }
      .active{
        color: $firstcolor;
      }
    }

  }


  .hero{
    width: 100%;
    height: 900px;
    max-height: 900px;
    min-height: 900px;
    position: relative;
    background:url('../img/bghero.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 320px;
    .cont{
        z-index: 1;
        position: relative;
    }
    h1{
        font-family: 'Playfair Display', serif;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 35px;
        color: white;
        line-height: 40px;


        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        position: relative;
        span{
            font-family: 'Playfair Display', serif;
            letter-spacing: 3px;
            font-weight: 400;
            font-size: 35px;
            color: $firstcolor;
            line-height: 40px;

            
            margin: 0;
            padding: 0;
            text-align: center;
            position: relative;
        }
    }
    h2{
        font-family: 'Playfair Display', serif;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 18px;
      	color: $whitecolor;
        line-height: 40px;


        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        position: relative;
        span{
            font-family: 'Playfair Display', serif;
            letter-spacing: 3px;
            font-weight: 400;
            font-size: 35px;
            color: $firstcolor;
            line-height: 40px;

            
            margin: 0;
            padding: 0;
            text-align: center;
            position: relative;
        }
    }

    .mainbtn{
        text-align: center;
        margin-top: 40px;
        a{
            display: inline-block;
            padding: 0;
            .border{
                border: 2px solid $firstcolor;
                display: inline-flex;
                padding: 10px;
                -webkit-transition: all .25s ease;
                   -moz-transition: all .25s ease;
                    -ms-transition: all .25s ease;
                     -o-transition: all .25s ease;
                        transition: all .25s ease;
            }
            .bgofbtn{
                font-family: 'Poppins', sans-serif;
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 14px;
                color: white;

                background: $firstcolor;
                padding: 15px 28px 15px 28px;
                -webkit-transition: all .25s ease;
                   -moz-transition: all .25s ease;
                    -ms-transition: all .25s ease;
                     -o-transition: all .25s ease;
                        transition: all .25s ease;
            }
            -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                 -o-transition: all .25s ease;
                    transition: all .25s ease;
        }
        a:hover{
            padding: 5px;
            .border{
                padding: 5px;
                border: 2px solid $whitecolor;
            }
            .bgofbtn{
                color: $firstcolor;

                background: $whitecolor;
            }
        }
    }
    .arrowdown{
      margin: auto;
      display: block;
      margin-top: 250px;
      max-width: 50px;
      background: transparent;
      border-radius: 50%;
      padding: 7px;
      border: 2px solid $firstcolor;
      animation-name: sliddownup;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      -webkit-transition: all .25s ease;
         -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
           -o-transition: all .25s ease;
              transition: all .25s ease;
      
    }
    .arrowdown:hover{
      border-color: $whitecolor;
    }
    @keyframes sliddownup {
      from{
        margin-top: 250px;
      }

      to{
        margin-top: 270px;
      }
    }
  }
  .herogradient{
    opacity: 0.9;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,101010+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(top, rgba(26,26,26,0.9) 0%, rgba(16,16,16,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26,26,26,0.9) 0%,rgba(16,16,16,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26,26,26,0.9) 0%,rgba(16,16,16,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61a1a1a', endColorstr='#e6101010',GradientType=0 ); /* IE6-9 */

  }









.sec{
	padding-top: 100px;
	h1{
	    font-family: 'Playfair Display', serif;
	    letter-spacing: 3px;
	    font-weight: 600;
	    font-size: 35px;
	    color: $blackcolor;
	    line-height: 40px;


	    margin: 0;
	    padding: 0;
	    display: block;
	    text-align: center;
	    position: relative;
	}
	.col-md-3{
		margin-bottom: 50px;
		.icon{
			-webkit-transition: all .5s ease-out;
			   -moz-transition: all .5s ease-out;
			    -ms-transition: all .5s ease-out;
			     -o-transition: all .5s ease-out;
			        transition: all .5s ease-out;
		}
	}
	.col-md-3:hover{
		.icon{
			top: 25px;
			transform: rotate(10deg);
		}
	}


	.line{
		width: 150px;
		height: 5px; 
		background: $firstcolor;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 100px;
	}
	h3{
		font-family: 'Poppins', sans-serif;
		letter-spacing: 1px;
		font-weight: 800;
		font-size: 189px;
		color: $wwcolor;
		text-align: center;

		padding: 0;
		margin: 0;
	}
	.icon{
		position: absolute;
		top: 10px;
		left: calc(50% + 15px);
		max-width: 50px;
	}
	.dots1{
		opacity: 0.5;
		position: absolute;
		bottom: 40px;
		right: 50%;
		max-width: 40px;
	}
	.dots2{
		opacity: 0.5;
		position: absolute;
		bottom: 100px;
		right: 55%;
		max-width: 40px;
	}
	.dots3{
		opacity: 0.5;
		position: absolute;
		bottom: 70px;
		right: 55%;
		max-width: 40px;
	}
	.dots4{
		opacity: 0.5;
		position: absolute;
		bottom: 120px;
		right: 55%;
		max-width: 40px;
	}
	.dots5{
		opacity: 0.5;
		position: absolute;
		bottom: 145px;
		right: 55%;
		max-width: 40px;
	}
	.dots6{
		opacity: 0.5;
		position: absolute;
		bottom: 145px;
		right: 55%;
		max-width: 40px;
	}
	h2{
		font-family: 'Poppins', sans-serif;
		letter-spacing: 1px;
		font-weight: 800;
		font-size: 16px;
		color: $blackcolor;
		text-align: left;

		padding: 0;
		margin: 0;
		max-width: 130px;
		position: absolute;
		bottom: 40px;
		right: 0;
	}
}


.selectedwork{
	h1{
	    font-family: 'Playfair Display', serif;
	    letter-spacing: 3px;
	    font-weight: 600;
	    font-size: 35px;
	    color: $blackcolor;
	    line-height: 40px;


	    margin: 0;
	    padding: 0;
	    display: block;
	    text-align: left;
	    position: relative;
	}
	.line{
		width: 150px;
		height: 5px; 
		background: $firstcolor;
		margin-top: 50px;
		margin-bottom: 100px;
	}
	h2{
	    font-family: 'Playfair Display', serif;
	    letter-spacing: 3px;
	    font-weight: 600;
	    font-size: 30px;
	    color: $blackcolor;
	    line-height: 40px;


	    margin: 0;
	    padding: 0;
	    margin-bottom: 30px;
	    display: block;
	    text-align: left;
	    position: relative;
	}
	p{
	    font-family: 'Lato', sans-serif;
	    font-weight: 400;
	    font-size: 15px;
	    color: #707070;
	    letter-spacing: 1px;

		
		height: 150px;
		max-width: 350px;
	    margin: 0;
	    padding: 0;
	    margin-bottom: 30px;
	    display: block;
	    text-align: left;
	    position: relative;
	}
	.mainbtn{
	    margin-top: 40px;
	    a{
	        display: inline-block;
	        padding: 0;
	        .border{
	            border: 2px solid $firstcolor;
	            display: inline-flex;
	            padding: 10px;
	            -webkit-transition: all .25s ease;
	               -moz-transition: all .25s ease;
	                -ms-transition: all .25s ease;
	                 -o-transition: all .25s ease;
	                    transition: all .25s ease;
	        }
	        .bgofbtn{
	            font-family: 'Poppins', sans-serif;
	            letter-spacing: 1px;
	            font-weight: 400;
	            font-size: 14px;
	            color: white;

	            background: $firstcolor;
	            padding: 15px 28px 15px 28px;
	            -webkit-transition: all .25s ease;
	               -moz-transition: all .25s ease;
	                -ms-transition: all .25s ease;
	                 -o-transition: all .25s ease;
	                    transition: all .25s ease;
	        }
	        -webkit-transition: all .25s ease;
	           -moz-transition: all .25s ease;
	            -ms-transition: all .25s ease;
	             -o-transition: all .25s ease;
	                transition: all .25s ease;
	    }
	    a:hover{
	        padding: 5px;
	        .border{
	            padding: 5px;
	            border: 2px solid $firstcolor;
	        }
	    }
	}
	.leftarrow{
		position: absolute;
		img{
			transform: rotate(180deg);
			max-width: 35px;
			margin-top: -3px;
		}
		top: calc(50% - 70px);
		left: -120px;
		span{
			    font-family: 'Lato', sans-serif;
			    font-weight: 400;
			    font-size: 17px;
			    color: $firstcolor;
			    letter-spacing: 1px;


				max-width: 350px;
			    margin: 0;
			    padding: 0;
			    margin-left: 10px;
			    -webkit-transition: all .25s ease;
			       -moz-transition: all .25s ease;
			        -ms-transition: all .25s ease;
			         -o-transition: all .25s ease;
			            transition: all .25s ease;
		}
	}
	.leftarrow:hover{
		span{
			color: $blackcolor;
		}
	}
	.rightarrow{
		position: absolute;
		img{
			max-width: 35px;
			margin-top: -3px;
		}
		top: calc(50% - 70px);
		right: -120px;
		span{
			    font-family: 'Lato', sans-serif;
			    font-weight: 400;
			    font-size: 17px;
			    color: $firstcolor;
			    letter-spacing: 1px;


				max-width: 350px;
			    margin: 0;
			    padding: 0;
			    margin-right: 10px;
			    -webkit-transition: all .25s ease;
			       -moz-transition: all .25s ease;
			        -ms-transition: all .25s ease;
			         -o-transition: all .25s ease;
			            transition: all .25s ease;
		}
	}
	.rightarrow:hover{
		span{
			color: $blackcolor;
		}
	}
	.item{
		.col-md-6{
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
	}
	.item:hover{
		.col-md-6{
			padding: 0;
		}
	}
}




.testomonial{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FAFAFA;
	h1{
	    font-family: 'Playfair Display', serif;
	    letter-spacing: 3px;
	    font-weight: 600;
	    font-size: 35px;
	    color: $blackcolor;
	    line-height: 40px;


	    margin: 0;
	    padding: 0;
	    display: block;
	    text-align: left;
	    position: relative;
	}
	.line{
		width: 150px;
		height: 5px; 
		background: $firstcolor;
		margin-top: 50px;
		margin-bottom: 100px;
	}
	.bgforvideo{
		-webkit-box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.3);
		-moz-box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.3);
		box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.3);
		z-index: 9;
		position: relative;
	}
	.boxwithshadow{
		width: 90%;
		margin: auto;
		height: 20px;
		margin-top: -7px;
		background: $whitecolor;
		z-index: -1;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.2);
		-moz-box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.2);
		box-shadow: 0px 0px 5px 0px rgba(122,122,122,0.2);
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
	}
	.playbutton{
		position: absolute;
		top: calc(50% - 50px);
		left: calc(50% - 50px);
		max-width: 100px;
		z-index: 9;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
	}
	.video:hover{
		.boxwithshadow{
			width: 100%;
		}
		.playbutton{
			top: calc(50% - 60px);
			left: calc(50% - 60px);
			max-width: 120px;
		}
	}
	.testomonials{
		margin-top: 50px;

		h2{
		    font-family: 'Playfair Display', serif;
		    letter-spacing: 3px;
		    font-weight: 600;
		    font-size: 20px;
		    color: $blackcolor;
		    line-height: 40px;


		    margin: 0;
		    padding: 0;
		    margin-bottom: 20px;
		    display: block;
		    text-align: left;
		    position: relative;
		}
		p{
		    font-family: 'Lato', sans-serif;
		    font-weight: 400;
		    font-size: 14px;
		    color: #707070;
		    letter-spacing: 1px;

			
		    margin: 0;
		    padding: 0;
		    display: block;
		    text-align: left;
		}

		.item{
			margin-bottom: 15px;
		}
		.leftarrow{
			margin-right: 40px;
			img{
				transform: rotate(180deg);
				max-width: 35px;
				margin-top: -3px;
			}
			span{
				    font-family: 'Lato', sans-serif;
				    font-weight: 400;
				    font-size: 17px;
				    color: $firstcolor;
				    letter-spacing: 1px;


					max-width: 350px;
				    margin: 0;
				    padding: 0;
				    margin-left: 10px;
				    -webkit-transition: all .25s ease;
				       -moz-transition: all .25s ease;
				        -ms-transition: all .25s ease;
				         -o-transition: all .25s ease;
				            transition: all .25s ease;
			}
		}
		.leftarrow:hover{
			span{
				color: $blackcolor;
			}
		}
		.rightarrow{
			img{
				max-width: 35px;
				margin-top: -3px;
			}
			span{
				    font-family: 'Lato', sans-serif;
				    font-weight: 400;
				    font-size: 17px;
				    color: $firstcolor;
				    letter-spacing: 1px;


					max-width: 350px;
				    margin: 0;
				    padding: 0;
				    margin-right: 10px;
				    -webkit-transition: all .25s ease;
				       -moz-transition: all .25s ease;
				        -ms-transition: all .25s ease;
				         -o-transition: all .25s ease;
				            transition: all .25s ease;
			}
		}
		.rightarrow:hover{
			span{
				color: $blackcolor;
			}
		}
	}
}


.cta{
	background:url('../img/bghero.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

	h1{
	    font-family: 'Playfair Display', serif;
	    letter-spacing: 3px;
	    font-weight: 600;
	    font-size: 24px;
	    color: $whitecolor;
	    line-height: 40px;


	    margin: 0;
	    padding: 0;
	    padding-top: 15px;
	    display: block;
	    text-align: left;
	    position: relative;
	}
	.mainbtn{
	    text-align: right;
	    a{
	        display: inline-block;
	        padding: 0;
	        .border{
	            border: 2px solid $whitecolor;
	            display: inline-flex;
	            padding: 10px;
	            -webkit-transition: all .25s ease;
	               -moz-transition: all .25s ease;
	                -ms-transition: all .25s ease;
	                 -o-transition: all .25s ease;
	                    transition: all .25s ease;
	        }
	        .bgofbtn{
	            font-family: 'Poppins', sans-serif;
	            letter-spacing: 1px;
	            font-weight: 400;
	            font-size: 14px;
	            color: $firstcolor;

	            background: $whitecolor;
	            padding: 15px 28px 15px 28px;
	            -webkit-transition: all .25s ease;
	               -moz-transition: all .25s ease;
	                -ms-transition: all .25s ease;
	                 -o-transition: all .25s ease;
	                    transition: all .25s ease;
	        }
	        -webkit-transition: all .25s ease;
	           -moz-transition: all .25s ease;
	            -ms-transition: all .25s ease;
	             -o-transition: all .25s ease;
	                transition: all .25s ease;
	    }
	    a:hover{
	        padding: 5px;
	        .border{
	            padding: 5px;
	            border: 2px solid $whitecolor;
	        }
	        .bgofbtn{
	            color: $firstcolor;

	            background: $whitecolor;
	        }
	    }
	}
}
.ctagradient{
  opacity: 0.94;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #E1C174;

}


.latestnews{
	background: #242424;
	padding-top: 100px;
	padding-bottom: 100px;
	h1{
	    font-family: 'Playfair Display', serif;
	    letter-spacing: 3px;
	    font-weight: 600;
	    font-size: 35px;
	    color: $whitecolor;
	    line-height: 40px;


	    margin: 0;
	    padding: 0;
	    display: block;
	    text-align: center;
	    position: relative;
	}
	.line{
		width: 150px;
		height: 5px; 
		background: $firstcolor;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 100px;
	}
	.blogs{
		h1{
			font-size: 23px;
			line-height: 30px;

			text-align: left;
			border-left: 4px solid $firstcolor;
			padding-left: 20px;
		}
		p{
		    font-family: 'Lato', sans-serif;
		    font-weight: 400;
		    font-size: 15px;
		    color: #707070;
		    letter-spacing: 1px;

			
			max-width: 350px;
		    margin: 0;
		    padding: 0;
		    margin-top: 20px;
		    margin-bottom: 20px;
		}
		.readmore{
			font-family: 'Playfair Display', serif;
			letter-spacing: 3px;
			font-weight: 600;
			font-size: 18px;
			color: $whitecolor;
			line-height: 40px;


			margin: 0;
			padding: 0;
			width: 100%;
			margin-top: -40px;
			background: rgba(255, 255, 255, 0.95);
			text-align: center;
			color: $firstcolor;
			position: relative;
			z-index: 99;
			opacity: 0;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
	}
	a:hover{
		.readmore{
			opacity: 1;
		}
	}
	.readmore:hover{
		letter-spacing: 4px;
	}
}

.footer{
	background: #141414;
	padding-top: 100px;
	padding-bottom: 100px;
	.logo2{
	  padding: 0;
	  margin: 0;
	  margin: auto;
	  position: relative;
	  max-width: 250px;
	  margin-bottom: 100px;
	}
	h2{
	    font-family: 'Playfair Display', serif;
	    letter-spacing: 3px;
	    font-weight: 600;
	    font-size: 23px;
	    color: $whitecolor;
	    line-height: 40px;
	    text-align: center;


	    margin: 0;
	    padding: 0;
	    margin-bottom: 50px;
	    display: block;
	    position: relative;
	}
	p{
	    font-family: 'Lato', sans-serif;
	    font-weight: 400;
	    font-size: 15px;
	    color: #707070;
	    letter-spacing: 1px;
	    text-align: center;

		
	    margin: 0;
	    padding: 0;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	input{
		width: 100%;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #707070;
		letter-spacing: 1px;
		text-align: center;
		background: transparent;
		border: none;
		border-bottom: 2px solid $firstcolor;
		padding-bottom: 5px;
	}
	.mainbtn{
	    text-align: center;
	    margin-top: 40px;
	    a{
	        display: inline-block;
	        padding: 0;
	        .border{
	            border: 2px solid $whitecolor;
	            display: inline-flex;
	            padding: 10px;
	            -webkit-transition: all .25s ease;
	               -moz-transition: all .25s ease;
	                -ms-transition: all .25s ease;
	                 -o-transition: all .25s ease;
	                    transition: all .25s ease;
	        }
	        .bgofbtn{
	            font-family: 'Poppins', sans-serif;
	            letter-spacing: 1px;
	            font-weight: 400;
	            font-size: 14px;
	            color: $firstcolor;

	            background: $whitecolor;
	            padding: 15px 28px 15px 28px;
	            -webkit-transition: all .25s ease;
	               -moz-transition: all .25s ease;
	                -ms-transition: all .25s ease;
	                 -o-transition: all .25s ease;
	                    transition: all .25s ease;
	        }
	        -webkit-transition: all .25s ease;
	           -moz-transition: all .25s ease;
	            -ms-transition: all .25s ease;
	             -o-transition: all .25s ease;
	                transition: all .25s ease;
	    }
	    a:hover{
	        padding: 5px;
	        .border{
	            padding: 5px;
	            border: 2px solid $firstcolor;
	        }
	        .bgofbtn{
	            color: $whitecolor;

	            background: $firstcolor;
	        }
	    }
	}
	img{
		display: block;
		margin: auto;
		max-width: 30px;
	}
	text-align: center;
	ul{
		padding: 0;
		display: inline-block;
		margin: auto;
		li{
			display: inline;
			margin-left: 7px;
			margin-right: 7px;
			img{
				display: inline;
			}
		}
		li:hover{
			
		}
	}
}




  .practicals{
    width: 100%;
    height: 470px;
    max-height: 470px;
    min-height: 470px;
    position: relative;
    background:url('../img/bghero.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .gobacktohome{
    	position: absolute;
    	top: 20px;
    	left: 0;
    	margin: auto;
    	float: none;
    	text-align: center;
    	img{
    		max-width: 40px;
    		margin-right: 14px;
    		margin-top: -5px;

    		-webkit-transition: all .15s ease;
    		   -moz-transition: all .15s ease;
    		    -ms-transition: all .15s ease;
    		     -o-transition: all .15s ease;
    		        transition: all .15s ease;
    	}
    	span{
    		padding-top: 10px;
    		    font-family: 'Lato', sans-serif;
    		    font-weight: 400;
    		    font-size: 15px;
    		    color: $whitecolor;
    		    letter-spacing: 1px;
    		    text-align: center;

    			max-width: 700px;
    		    margin: auto;
    		    padding: 0;
    		    margin-top: 40px;
    	}
    }
    .gobacktohome:hover{
    	img{
    		margin-right: 20px;
    	}
    }

    .logop{
      img{
      	display: block;
      	margin: auto;
      }
      padding-top: 80px;
      padding-bottom: 50px;
    }
    .cont{
        z-index: 1;
        position: relative;
    }
    h1{
        font-family: 'Playfair Display', serif;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 35px;
        color: white;
        line-height: 40px;

		max-width: 800px;
        margin: auto;
        padding: 0;
        display: block;
        text-align: center;
        position: relative;
        span{
            font-family: 'Playfair Display', serif;
            letter-spacing: 3px;
            font-weight: 400;
            font-size: 35px;
            color: $firstcolor;
            line-height: 40px;

            
            margin: 0;
            padding: 0;
            text-align: center;
            position: relative;
        }
    }

    p{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: $whitecolor;
        letter-spacing: 1px;
        text-align: center;

    	max-width: 700px;
        margin: auto;
        padding: 0;
        margin-top: 40px;
    }
    .arrowdown{
      margin: auto;
      display: block;
      max-width: 50px;
      background: transparent;
      border-radius: 50%;
      padding: 7px;
      border: 2px solid $whitecolor;
      animation-name: sliddownup;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      -webkit-transition: all .25s ease;
         -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
           -o-transition: all .25s ease;
              transition: all .25s ease;
      
    }
    .arrowdown:hover{
      border-color: $wwcolor;
    }
    @keyframes sliddownup {
      from{
        margin-top: 60px;
      }

      to{
        margin-top: 80px;
      }
    }
  }

  .practicalsgradient{
  	  opacity: 0.9;
  	  position: absolute;
  	  content: "";
  	  top: 0;
  	  right: 0;
  	  height: 100%;
  	  width: 100%;
		background: $firstcolor;
  	}


.tips{
	background: $wwcolor;
	padding-top: 100px;
	padding-bottom: 100px;
	.tip{
		background: $whitecolor;
		p{
			
			text-align: center;
			span{
				color: $wwcolor;
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				font-size: 170px;

				padding: 0;
			}
		}
	}
}






.portfolioimg{
	padding-top: 80px;
	padding-bottom: 150px;
	position: relative;
	.difforimg{
		position: absolute;
		top: 123px;
		left: 0;
		right: 0;
		.imgdiv{
			max-width: 768px;
			margin: auto;
			max-height: 480px;
			overflow-y: scroll;
			overflow: -moz-scrollbars-none; 
			-ms-overflow-style: none;
			img{
				width: 100%;
			}
		}
	}
	.mainbtn{
        text-align: center;
        margin-top: 40px;
        a{
            display: inline-block;
            padding: 0;
            .border{
                border: 2px solid $firstcolor;
                display: inline-flex;
                padding: 10px;
                -webkit-transition: all .25s ease;
                   -moz-transition: all .25s ease;
                    -ms-transition: all .25s ease;
                     -o-transition: all .25s ease;
                        transition: all .25s ease;
            }
            .bgofbtn{
                font-family: 'Poppins', sans-serif;
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 14px;
                color: white;

                background: $firstcolor;
                padding: 15px 28px 15px 28px;
                -webkit-transition: all .25s ease;
                   -moz-transition: all .25s ease;
                    -ms-transition: all .25s ease;
                     -o-transition: all .25s ease;
                        transition: all .25s ease;
            }
            -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                 -o-transition: all .25s ease;
                    transition: all .25s ease;
        }
        a:hover{
            padding: 5px;
            .border{
                padding: 5px;
                border: 2px solid #707070;
            }
            .bgofbtn{
                color: $firstcolor;

                background: #707070;
            }
        }
    }
	.imac{
		position: absolute;
		top: 10px;
		max-width: 835px;
		left: 0;
		right: 0;
		margin: auto;
	}
	h1{
		font-family: 'Playfair Display', serif;
		letter-spacing: 3px;
		font-weight: 400;
		font-size: 35px;
		color: #141414;
		line-height: 40px;


		margin: 0;
		padding: 0;
		display: block;
		text-align: center;
		position: relative;
		margin-top: 50px;
		
		-webkit-transition: all 1.5s ease;
		   -moz-transition: all 1.5s ease;
		    -ms-transition: all 1.5s ease;
		     -o-transition: all 1.5s ease;
		        transition: all 1.5s ease;
	}
	p{
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #707070;
		letter-spacing: 1px;
		text-align: center;

		
		margin: 0;
		padding: 0;
		display: block;
		margin-top: 50px;
	}
}
.portfolioimg .difforimg .imgdiv::-webkit-scrollbar {
	width: 0 !important 
}
.laptopmac{
	opacity: 1;

	-webkit-transition: all 3s ease;
	   -moz-transition: all 3s ease;
	    -ms-transition: all 3s ease;
	     -o-transition: all 3s ease;
	        transition: all 3s ease;
}
.imac{
	opacity: 0;

	-webkit-transition: all 3s ease;
	   -moz-transition: all 3s ease;
	    -ms-transition: all 3s ease;
	     -o-transition: all 3s ease;
	        transition: all 3s ease;
}
